<%= form_with model: @user, html: {class: "user_form"}, local: true do | f | %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error")%>
        prohibited this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :admin %>
  <%= f.check_box :admin%>

  <%= f.label :email %>
  <%= f.email_field :email%>

  <%= f.label :username %>
  <%= f.text_field :username%>

  <%= f.label :password %>
  <%= f.password_field :password%>

  <%= f.label :first_name %>
  <%= f.text_field :first_name%>

  <%= f.label :last_name %>
  <%= f.text_field :last_name%>

  <%= f.label :company_name %>
  <%= f.text_field :company_name %>

  <%= f.label :note%>
  <%= f.text_field :note%>

  <%= f.submit %>
<% end %>
