<% provide(:title, "Users")%>

<h1>Users</h1>
<ul>
  Admins:
  <% @admins.each do |admin| %>
  <li><%= admin.first_name %> <%= admin.last_name%>: <%= link_to admin.username, user_path(admin) %></li>
  <% end %>
</ul>
<ul>
  Clients:
  <% @clients.each do |client| %>
    <li>  <%= client.first_name %> <%= client.last_name%>:  <%= link_to client.username, user_path(client) %></li>
  <% end %>
</ul>

<%= link_to 'Create User', new_user_path(@user) %><br>
<%= link_to 'Projects', projects_path %>
