<h2>Create a new user:</h2>

<%= form_with model: @user, html: {class: "user_form"}, local: true do | f | %>
  <%= f.label :admin %>
  <%= f.check_box :admin%>

  <%= f.label :email %>
  <%= f.email_field :email%>

  <%= f.label :username %>
  <%= f.text_field :username%>

  <%= f.label :password %>
  <%= f.password_field :password%>

  <%= f.label :first_name %>
  <%= f.text_field :first_name%>

  <%= f.label :last_name %>
  <%= f.text_field :last_name%>

  <%= f.label :company_name %>
  <%= f.text_field :company_name %>

  <%= f.label :note%>
  <%= f.text_field :note%>

  <%= f.submit %>
<% end %>

<%= link_to "Back", users_path %>
