<h2>User:</h2>
<p>
  <span>Administrator?</span>
  <%= @user.admin %>
</p>
<p>
  <span>Email Address:</span>
  <%= @user.email %>
</p>
<p>
  <span>Username:</span>
  <%= @user.username %>
</p>
<p>
  <span>First Name:</span>
  <%= @user.first_name %>
</p>
<p>
  <span>Last Name:</span>
  <%= @user.last_name %>
</p>
<p>
  <span>Company:</span>
  <%= @user.company_name %>
</p>
<p>
  <span>Note:</span>
  <%= @user.note %>
</p>
<p>
  <span>Projects:</span>
  <ul>
  <% @user.projects.each do |project| %>
    <li><%= link_to project.name, project_path(project.slug) %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Back', users_path %>
<%= link_to 'Edit', edit_user_path(@user) %>

<%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure?'} %>
