<h2>New Project:</h2>

<%= form_with model: @project, url: projects_path, local: true do |f| %>

<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "
      error") %> prohibited this project from being saved:</h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :date_started %>
  <%= f.date_field :date_started? %>
</p>
<p>
  <%= f.label "Select Client"%>
  <%= f.collection_select :user_ids, User.clients, :id, :username do |b| %>

  <% end %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Back', projects_path%>
