<h2>Project <%= @project.name %></h2>
<h6>Project Description:</h6>
<p><%= @project.description %></p>
<%= link_to "Back to all Projects", projects_path %><br>
<%= link_to "New Proposal", new_project_proposal_path(@project) %>

<h3>Proposals for <%= @project.name %></h3>

<table>
  <tr>
    <th>Proposal Name</th>
    <th>Prepared for</th>
    <th>Prepared by</th>
    <th>Date Created</th>
    <th></th>
  </tr>

  <% @project.proposals.each do |proposal| %>
    <tr>
      <td><%= proposal.name %></td>
      <td><%= proposal.prepared_for %></td>
      <td><%= proposal.prepared_by %></td>
      <td><%= proposal.date_created %></td>
      <td><%= link_to 'View', project_proposal_path(@project, proposal) %></td>
      <td><%= link_to 'Edit', edit_project_proposal_path(@project, proposal) %></td>
      <td><%= link_to 'Delete', project_proposal_path(@project, proposal), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
